POSTGRES_USER=ares
POSTGRES_PASSWORD=ares_dev_password
POSTGRES_DB=ares
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379

FLEET_MANAGER_PORT=8001
TELEMETRY_SERVICE_PORT=8002
MISSION_SERVICE_PORT=8003

EDGE_NODE_ID=edge-node-alpha
EDGE_SITE=AUSTIN-LAB
EDGE_MODE=connected